<div id="navbar" ng-include src="'partials/navbar.html'"></div>
<div class="row">
<div class="col-md-4"/>
<div class="col-md-4">
  <h2>Login</h2>
  <div ng-show="error" class="alert alert-danger"></div>
  <form class="form" ng-submit="login()">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
    </div>
    <div class="form-group">
      <label>Password</label>
        <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
      </div>
      <div>
        <button type="submit" class="btn btn-default" ng-disabled="disabled">Login</button>
        <br>
        <div>
          <p>or <a href="#/register">register</a></p>
        </div>
      </div>
  </form>
  <div>
  <h2>What is Conclusion?</h2>
  <div id="video">
    <iframe width="420" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div class="col-md-4"/>
</div>
